/* Reset */
*{
    padding: 0px;
    margin: 0;
} 

header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}
body {
	background-image: url("ptrbackground.jpg");
	 color: #666666;
	/* background-color:#00569f; */ 
	font-family: Arial, Helvetica, sans-serif;
	position:relative;
	padding-top:10px;
	height:100%
}

/* Main Area */
#wrapper{
	/* background:cyan; */
	/* display:flex; */
	width:80%;
	min-width: 600px;
	/* background:red; */
	margin:auto;
	/* position:relative; */
	height:100%;
}

nav{
	background:black;
	/* padding-bottom: 70px; */
	/* display:flex; */
	margin-right:1200px;
	/* height:inherit; */
	/* position:fixed; */
	/* float:left; 
	object-fit: cover;
	height:500px;
	align-items: stretch;
	padding-top:10px;
	min-width:190px;
	list-style-type: none; */
	/* font-size:xx-large; */
}

nav ul {
	/* display:inline-block; */
	float:left;
	/* position:inherit; */
	background:cyan;
	/* object-fit: cover; */
	padding-top:10px;
	min-width:190px;
	/* height:100%; */
	list-style-type: none;
	/* padding-bottom:572px; */
	/* text-align: bottom; */
	/* position:absolute; */
	height:inherit;

	/* Test */
	/* list-style-type: none;
	display:block;
	margin: 0;
	padding: 0;
	min-width: 100px;
	float:left;
	background-color: #f1f1f1;
	position: absolute;
	height: 100%;
	overflow: auto; */
}

/* Orgiginal Code */
/* nav a:visited {
	color: #344873;
} */

nav a:hover {
	color: #FFFFFF;
}
header{
	background-image: url(sunset.jpg);
	/* background:purple; */
	background-repeat:no-repeat;
	background-position:right;
	background-size:20% 100%;
	min-width:600px;
}
h1 {
	margin-bottom: 0;
	margin-top:0;
	padding: 10px;
	background-image: url(sunset.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;
	/* height:100%; */
	width:79%;
	color:white;
}

/* Navigation Link */
li a{
	text-decoration: none;
	color:#344873;
	font-size:larger;
	font-weight:bold;
	/* background:peru; */
	padding-left: 10px;
	/* padding-top:30px; */
}

/* nav, #content{
	display:flex;
	flex-direction: column;
} */

/* Contents */
#content{
	background:purple;
	/* display: inline-block; */
}

#content img{
	background:silver;
	padding-left:30px;
	padding-right:11px;
	/* width:25%; */
	float:left;
}

span{
	color:#344873;
	font-weight:bold;
	/* font-size: */
}

#content p{
	background:navy;
	/* padding-top:20px; */
	margin-left:36.6%;
	/* margin-left:50%; */
	/* margin-left:35.5%; */
	/* margin-left:33px; */
	/* text-align: right; */
	padding-right:5px;
	padding-bottom:10px;
	font-size:14.5px;
}

#content ul{
	/* background:green; */
	/* padding-top:5px; */
	margin-left:36.6%;
	padding-bottom:20px;
	/* list-style-image: url(marker.gif);
	list-style-position: inside;
	margin-left:47.8%; */
	/* padding-left:25px; */
	/* margin-left:18.6%; */
	/* margin-left:10.6%; */
}

#content li{
	/* background:paleturquoise; */
	/* background-image:url(marker.gif); */
	/* background-repeat:no-repeat; */
	/* background-attachment:fixed; */
	/* background-position:auto auto; */
	/* max-width:600px; */
	list-style-image: url(marker.gif);
	list-style-position: inside;
	/* padding-bottom:10px; */
	/* margin-left:47.8%; */
	/* background-size:800px; */
	/* margin-left:36.6%; */
	/* margin-left:48%; */
	/* text-indent:20px; */
	/* background-size:20% 100%; */
}
/* Enjoy Nature in Luxury */
h2 {
	color: #3399CC;
	text-indent: 30px;
	line-height: 70px;
	background:white;
	/* font-size:132%; */
}

h1,h2 {
	font-family: Georgia, "Times New Roman", serif;
}


#contact {
	background:violet;
	font-size: 90%;
	/* margin-left:18.6%; */
	margin-left:36.6%;
	padding-bottom:40px;

}
dt {
	color: #000033;
}
footer{
	 background:white;
	/* display:inline;
	font-family: Georgia, "Times New Roman", serif;
	padding-right:57.5%;
	float:right;
	min-width:200px;
	overflow:hidden;  */
	/* padding-left:30px;  */
	/* padding-right:80px; */
	
	/* text-align: justify;
	position:absolute;
	margin-left:20%; 
	margin-right:55%;
	text-overflow: clip; */

	text-indent: 30px;
	/* line-height: 70px; */

}

footer a{
	/* background:pink;
	display:inline;
	font-family: Georgia, "Times New Roman", serif; */
	/* text-indent: 30px; */
	/* line-height: 70px; */
	/* padding-left: 40px; */
	/* float:right; */
	/* padding-right:60%; */
}

